<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body style="background-image: url(<%=ad.img%>);">
    <%- include('./partials/nav.ejs') %>
    <header class="oheader">
      <h1><span class="headingTitle" >Edit Your Adventure</span></h1>
    </header>
    <br>
    <br>
    <br>
    <div class="ocontainer row">
        <form action="/bucket-list-adventure/<%=ad.id%>?_method=PUT" method="POST">
          <div class="col-md-4"></div>
          
          <div class="col-md-2">
            <label for="title">Title:</label><br>
            <label for="description">description:</label><br>
            <label for="why">Why:</label><br>
            <label for="physicalNecessities">Physical Necessities:</label><br>
            <label for="financialNecessities">Financial Necessities:</label><br>
            <label for="desiredLocation">Desired Location:</label><br>
            <label for="img">Image URL:</label><br>
          </div>

          <div class="col-md-3">
            <input type="text" name="title" value="<%=ad.title%>" /><br>
            <input type="text" name="description" value="<%=ad.description%>"/><br>
            <input type="text" name="why" value="<%=ad.why%>"/><br>
            <input type="text" name="physicalNecessities" value="<%=ad.physicalNecessities%>"/><br>
            <input type="text" name="financialNecessities" value="<%=ad.financialNecessities%>"/><br>
            <input type="text" name="desiredLocation" value="<%=ad.desiredLocation%>"/><br>
            <input type="text" name="img" value="<%=ad.img%>"/><br>
            <br/>
            <br>
            <input class="btn btn-default" type="submit" value="Submit">
            <br>
            <br>
            <br>
            <br>
            <a href="/bucket-list-adventure">
              <button class="btn btn-default" type="button" name="button">Back</button>
            </a>
          </div>

            </form>
    </div>
  </body>
</html>
