<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="main">

      <header class="iheader">
        <h1><span class="headingTitle" >Find Your Adventure</span></h1>
        <div class="down-btn">
          <svg class="down-btn-img">
           <polyline points="1,0 100,100 200,0" />
          </svg>
         </div>
         <!-- <i class="arrow down down-btn"></i> -->
      </header>
      
      <div class="sub-main">
        <!-- <img class="middleimage" src="https://images.hdqwalls.com/wallpapers/anime-clouds-birds-flying-4k-o2.jpg"> -->
        <ul class="alldata">
          <% for (let ad of ads ) { %>
            <li class="i">
              <a href="/bucket-list-adventure/<%=ad._id%>">
                <img src="<%=ad.img%>" class="iadventure">
                <h1 class="itext"><%= ad.title %></h1>
              </a>
            </li>
        <% } %>
        </ul>
      </div>

  </div>
  </body>
</html>

