<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Adventure Time</title>
  </head>
  <body>
    <nav>
    </nav>
    <div class="container">
        <h1>Check Out This Adventure</h1>
        This adventure is: <%=ad.title%>.
        <%=ad.description%>.
        <%=ad.why%>
        Physical Necessities: <%=ad.physicalNecessities%>
        Financial Necessities: <%=ad.financialNecessities%>
        Desired Locations: <%=ad.desiredLocation%><br>
        Image: <br><img src="<%=ad.img%>" height=200px width=300px>
        <br>
        <button type="button" name="button"><a href="/bucket-list-adventure/<%=ad._id%>/edit">Edit</a></button>
        <br>
        <br>
        <form action="/bucket-list-adventure/<%=ad._id%>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE"/>
        </form>
        <br>
        <a>
        <button type="button" name="button">
            <a href="/bucket-list-adventure">Back</a>
        </button>
        </a>
    </div>
  </body>
</html>
