<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <header class="oheader">
      <span class="firstTitle">
        <h1><span class="headingTitle" >Check Out This Adventure</span></h1>
      </span>
    </header>
    <div class="ocontainer">
        <img src="<%=ad.img%>"class="sadventure">
        <br><br>
        This adventure is: <%=ad.title%>.
        <br><br>
        <%=ad.description%>.
        <br><br>
        The Reason: 
        <%=ad.why%>
        <br><br>
        Physical Necessities: <%=ad.physicalNecessities%><br><br>
        Financial Necessities: <%=ad.financialNecessities%><br><br>
        Desired Locations: <%=ad.desiredLocation%><br>
        <button type="button" name="button"><a href="/bucket-list-adventure/<%=ad._id%>/edit">Edit</a></button>
        <br>
        <br>
        <form action="/bucket-list-adventure/<%=ad._id%>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE"/>
        </form>
        <br>
        <a>
        <button type="button" name="button">
            <a href="/bucket-list-adventure">Back</a>
        </button>
        </a>
    </div>
  </body>
</html>
