<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>

  <body style="background-image: url(<%=ad.img%>);">
    <%- include('./partials/nav.ejs') %>
    <header class="oheader">
      <span class="firstTitle">
        <h1><span class="headingTitle" >Check Out This Adventure</span></h1>
      </span>
    </header>
    <div class="ocontainer">
        <br><br>
        <h2><%=ad.title%></h2>
        <br>
        <h3>Description: </h3>
        <%=ad.description%>
        <br><br>
        <h3>The Reason:</h3> <%=ad.why%>
        <br><br>
        <h3>Physical Necessities: </h3><%=ad.physicalNecessities%><br><br>
        <h3>Financial Necessities: </h3>$<%=ad.financialNecessities%><br><br>
        <h3>Desired Locations: </h3><%=ad.desiredLocation%><br>
        <br>
        <br>
        <a href="/bucket-list-adventure/<%=ad._id%>/edit"><button class="btn btn-default" type="button" name="button">Edit</button></a>
        <br><br>
        <form action="/bucket-list-adventure/<%=ad._id%>?_method=DELETE" method="POST">
            <input class="btn btn-default" type="submit" value="DELETE"/>
        </form>
        <br>
        <br>
        <a>
          <a href="/bucket-list-adventure">
            <button class="btn btn-default" type="button" name="button">Back</button>
          </a>
        </a>
    </div>
  </body>
</html>
